body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  padding-left: 16px;
  padding-right: 16px;
}


/*header styles*/
.menu {
  display: none;
}
.contact-list {
  display: none;
}
.logotype {
 
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;

}
.logotype:hover,
.logotype:focus {
  color: #404bbf;
}
.logo-span {
  color: #2e2f42;
}

.cont-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
}


/* common styles*/

  /*mobile menu styles*/
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999999;
  background-color: #FFF;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.mobile-menu-close-btn {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color:transparent;
  line-height: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  stroke: #2e2f42;}

  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    background-color: #404bbf;
    fill: #ffffff
  }

.mobil-menu-container {
  
  display: flex;
  flex-direction: column;
  height: 100%;
  
}
.main-nav-mobil {
  flex: 1 0 auto;
}
.contacts-mobile {
  flex: 0 0 auto;
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-link-mobil {
  color: #2E2F42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.menu-link-mobil:hover,
.menu-link-mobil:focus {
  color: #404BBF;
}

.menu-mobil {
  display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 40px;
margin-top: 72px;

}

.contakt-mobile-menu-link {
  color:#434455;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
}
.contakt-mobile-menu-link:focus,
.contakt-mobile-menu-link:hover {
  color: #4D5AE5;
}

.contakt-mobile-menu-list {
  display: inline-flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}
.contakt-mobile-menu {
  margin-bottom: 48px;
}

.social-mobile-list {
  display: flex;
  gap: 40px;
  width: 100%;
  
}
.social-mobile-list-item {
  width: 40px;
  height: 40px;
}
.social-mobile-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-mobile-link:hover,
.social-mobile-link:focus {
  background-color: #31d0aa;
}
.social-mobile-icon {
  fill: #f4f4fd;
}
/*---mobile burger styles ---*/
.mobile-open-btn {
  border:none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  }
  .mobile-open-btn-icon {
    color: #2f2f37;
  }
  
}
/*-------mobile STYLES-----*/
@media screen and (min-width:480px) {
  .container {
    width: 352px;
    margin-left: auto;
    margin-right: auto;
  }
}
/*-------tablet styles--------*/
@media screen and (min-width: 768px) {

  .container {
    width: 736px;
  }
  /*-----header tablet styles-----*/
  .menu {
    display: flex;
  }
  .contact-list {
    display: flex;
  }
  .mobile-open-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
}


/*-------comp styles-----*/
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
  .mobile-menu {
    display: none;
  }
}
